<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar hospital..."
                        (keyup)="buscarMedico(txtTermino.value)"
                        #txtTermino/>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-sm-12">
        
        <div class="alert alert-warning text-center">
          <strong>Cargando</strong>
          <br>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <br>
          <p class="">Por favor espere</p>
        </div>

    </div>
</div> 


<div class="row animated fadeIn fast" *ngIf="!cargando">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">

					<div class="col-8">
						<h3 class="card-title">Medicos registrados (<small>{{totalRegistros}}</small>)</h3>
					</div>

					<div class="col-4">
						<div class="text-right">
                            <button [routerLink]="['/medico','nuevo']" class="btn btn-primary waves-effect waves-light btn-rounded">
                                <i class="fa fa-hospital-o"></i> 
                                Crear Medico
                            </button>
                        </div>
					</div>
				</div>
				

				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">Foto</th>							
							<th class="text-center">Nombre</th>
							<th class="text-center">Hospital</th>						
							<th class="text-center">Opciones</th>
						</tr>
					</thead>
					
					<tbody>
						<tr *ngFor="let medico of medicos">
							<th class="w70">
								<img (click)="actualizarImagen(medico)" [src]="medico.img | imagen:'medico'" class="img-50 pointer">
							</th>
							
							<th class="text-center">
								{{medico.nombre}}
							</th>
							<th class="text-center">{{medico.hospital.nombre}}</th>
							
							<th class="text-center">
								<button class="btn btn-primary" [routerLink]="['/medico',medico._id]">
									<i class="fa fa-edit"></i>
								</button>
								
								<button (click)="borrarMedico(medico)" style="margin-left: 5px" class="btn btn-danger">
									<i class="fa fa-trash-o"></i>
								</button>

							</th>
						</tr>
					</tbody>	

				</table>

				<div class="btn btn-success" (click)="cambiarDesde(-5)">
					Anteriores
				</div>
				
				<div class="btn btn-success" (click)="cambiarDesde(5)" style="margin-left: 5px">
					Siguientes
				</div>

			</div>
		</div>
	</div>
</div>
