<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Nombre: {{medico.nombre}}</h3>
            <br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <!--<form [formGroup]="forma" (ngSubmit)="guardarMedico()">-->
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">    
                        <div class="form-group">
                            <label>Nombre del Médico</label>
                            <!--<input formControlName="nombre" name="nombre" type="text" required class="form-control" placeholder="Nombre del Médico">-->
                            <input [(ngModel)]="medico.nombre" name="nombre" type="text" required class="form-control" placeholder="Nombre del Médico">
                        </div>

                        <div class="form-group">
                            <label>Hospital</label>
                            <!--<select (change)="cambioHospital($event.target.value)" formControlName="hospital" name="hospital" class="form-control" required>-->
                            <select [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>    
                                <option value="hospital">Seleccione hospital</option>
                               
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                                	{{hospital.nombre}}
                                </option>
                            </select>
                        </div>

                        <!--<button [disabled]="forma.invalid" class="btn btn-success wavwa-effect waves-light m-r-10">-->
                        <button class="btn btn-success wavwa-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>

                        <a routerLink="/medicos" class="btn btn-secondary wavwa-effect waves-light m-r-10">                            
                            Regresar
                        </a>

                    </form>
                </div>
            </div>
        </div>
        
    </div>

	<!--<div class="col-md-3">
		<div class="card card-body">
			<h4 class="box-title m-b-0">Hospital</h4>
		    <img [src]="hospital.img | imagen:'hospital'" class="rounded img-fluid">
		</div>
		
	</div>-->

	<div class="col-md-3" *ngIf="medico._id">
		<div class="card card-body">
			<h4 class="box-title m-b-0">Fotografía</h4>
			<img (click)="cambiarFoto()" [src]="medico.img | imagen:'medico'" class="rounded img-fluid pointer">
		</div>		
	</div>

</div>


