<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar hospital..."
                        (keyup)="buscarHospital(txtTermino.value)"
                        #txtTermino/>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-sm-12">
        
        <div class="alert alert-warning text-center">
          <strong>Cargando</strong>
          <br>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <br>
          <p class="">Por favor espere</p>
        </div>

    </div>
</div> 


<div class="row animated fadeIn fast" *ngIf="!cargando">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">

					<div class="col-8">
						<h3 class="card-title">Hospitales registrados (<small>{{totalRegistros}}</small>)</h3>
					</div>

					<div class="col-4">
						<div class="text-right">
                            <button (click)="crearHospital()" class="btn btn-primary waves-effect waves-light btn-rounded">
                                <i class="fa fa-hospital-o"></i> 
                                Crear hospital
                            </button>
                        </div>
					</div>
				</div>
				

				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">Imagen</th>							
							<th class="text-center">Nombre</th>
							<!--<th class="text-center">Usuario</th>-->							
							<th class="text-center">Opciones</th>
						</tr>
					</thead>
					
					<tbody>
						<tr *ngFor="let hospital of hospitales">
							<th class="w70">
								<img (click)="actualizarImagen(hospital)" [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
							</th>
							
							<th class="text-center">
								<input type="text" name="nombre" class="form-control" [(ngModel)]="hospital.nombre">
							</th>
							<!--<th class="text-center">{{usuario.role}}</th>-->
							
							<th class="text-center">
								<button class="btn btn-primary" (click)="modNombreHospital(hospital)">
									<i class="fa fa-save"></i>
								</button>
								
								<button (click)="borrarHospital(hospital)" style="margin-left: 5px" class="btn btn-danger">
									<i class="fa fa-trash-o"></i>
								</button>

							</th>
						</tr>
					</tbody>	

				</table>

				<div class="btn btn-success" (click)="cambiarDesde(-5)">
					Anteriores
				</div>
				
				<div class="btn btn-success" (click)="cambiarDesde(5)" style="margin-left: 5px">
					Siguientes
				</div>

			</div>
		</div>
	</div>
</div>